<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title>Chat</ion-title>
  </ion-navbar>

</ion-header>

<style>

ion-content{
	background : url('img/chatImage.jpg') center / cover ;
}
.sections{
           padding:10px;
        }
        .left{
            text-align:left;
        }
        .right{
            text-align: right;
        }
        .customborder{
            border-radius:10px;
            /*box-shadow:-10px -10px 20px 2px;*/
        }
        .chatarea{
            height:450px;
            padding-top: 5px;
        }
        .userlist{
            background: #CCC;
        }
        .center{
            text-align:center;
        }
        .medium-font{
            font-size:12px;
            font-weight: bold;
        }
        .friend-list-div{
            height:250px;
            overflow:scroll;
        }
        .friend-list{
        }
        .dp{
            max-width: 50%;
        }
        .auto{
            margin: auto;
        }
        .chat-messages{
          /*  background: white;*/
        }
        .chat-input{
            position: absolute;
            bottom: 0;
            left:0;
            padding: 20px;
        }
        .chat-left{
            text-align: left;
            float: left;
        }
        .chat-right{
            text-align: right;
            clear: both;
            float: right;
        }
        .chat-right .chat-content{
             background: blanchedalmond;
             border-top-right-radius: 0em;

        }
        .chat-left .chat-content{
            background: orangered;
            color:white;
            border-top-left-radius: 0em;
        }
        .chat-content{
            padding: 20px;
            border-radius: 30px;
            text-align: center;
        }
        .thumb{
            width:50px;
            border-radius: 50%;
        }
        .chat-left .user-chat-pic{
            text-align: right;
            padding: 0;
        }
        .chat-right .user-chat-pic{
            text-align: left;
            padding: 0;
        }
        .chat-gap{
            margin-bottom:5px;
        }


</style>
<ion-content>
<div style="text-align: center;" *ngIf="image === true">
<img src="img/chatbot.png" style="width: 50%;" />
</div>
 <div class="row" >
    <div class="col-xs-12 sections chatarea">
        <div class="chat-messages">
           <div *ngFor="let c of chats" class="chat-gap">
                <div class="chat-left row" *ngIf="c.num==0">
                    <div class="chat-content col-xs-4">
                        {{c.text}}
                    </div>
                </div>
                <div class="chat-right row" *ngIf="c.num==1">
                    <div class="chat-content col-xs-4 col-xs-offset-6">
                        {{c.text}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div *ngFor="let c of chats">

  <div  *ngIf="c.num==1">
	  <div style="border: 2px solid #fff6f6;padding: 10px 40px;background: palegoldenrod;border-radius: 25px;float: right;">
	  			{{c.text}}
	 </div> 
  </div>
  <br>
  <div *ngIf="c.num==0" style="width: 174px;">
	 <div  style="border: 2px solid #fff6f6;padding: 10px 40px;background: palegoldenrod;border-radius: 25px;float: left;">
	  			{{c.text}}
	 </div>
  </div> 
  <br>
</div>  -->

</ion-content>
<ion-footer>
    <ion-grid>
        <ion-row style="background-color: transparent;">
        <ion-col col-9  style="background-color: white;border: 1px solid white;border-radius: 37px;">
            <ion-input type="text" placeholder="Start typing..." [(ngModel)]="chatInput"></ion-input>
        </ion-col>
        <ion-col col-3 align-self-end>
        <ion-buttons end (click)="enterMessage(chatInput)" style="border-radius: 12px;">
            <button ion-button icon-only>
            	<ion-icon ios="ios-send" md="md-send"></ion-icon>
            </button>
            </ion-buttons>
        </ion-col></ion-row>
    </ion-grid>

</ion-footer> 
<!-- <ion-footer>
  <ion-toolbar>
    <div>
        <ion-input type="text" placeholder="Start typing..." [(ngModel)]="chatInput"></ion-input>
    </div>
    <ion-buttons end>
      <button ion-button icon-right color="royal" (click)="enterMessage(chatInput)">
        Send
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
 -->